/* .list-container:nth-child(even) {background: rgb(241, 248, 250)}
.list-container:nth-child(odd) {background: rgb(77, 165, 192)} */


.list-container {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
}
.request-header {
    display: flex;
    justify-content: space-between;
    width: 50%;
}
.list-item {
    display: flex;
    justify-content: space-between;
}
.list-item__request {
    display: flex;
    justify-content: space-between;
    background: rgb(119, 182, 211);
    padding: 15px 0;
}
.list-item__completed {
    display: flex;
    justify-content: space-between;
    background: rgb(207, 102, 123);
    padding: 15px 0;
}
.request__delete {
    margin: 15px;
    width: 100px;
    height: min-content;
}
#plumbers {
    margin: 15px;
    width: 100px;
    height: min-content;
}